<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<b><%= text %></b><br>
		<ul>
			<% files.forEach(function(file){ %>
				<li>
					<a href="imgs/<%= file.name %>"><%= file.name %></a> (<%= file.size %> Kb)
				</li>
			<% }); %>
		</ul>
		<br><br><br>
		<b>Values:</b><br>
			<b>CPU temp</b>: <%= sd.cputemp %><br>
			<b>Ping</b>: <%= sd.pingtime %>
	</body>
</html>